.menuItemContainer {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px 0 10px 0;
    white-space: nowrap;

    @media (hover: hover) {
        &:hover {
            background: #161616;
            color: #ff4444
        }
    }

    &__img {
        min-width: 3.5rem;
        display: flex;
        justify-content: center;

        & img {
            width: 1.5rem;
        }
    }

    &__title {
        margin-left: 10px;
    }
}

@media (max-width: 755px) {
    .menuItemContainer {
        flex-direction: column;
        padding: 0;
        justify-content: center;
        margin-right: 1rem;

        & img {
            width: 1.2rem;
        }

        &__title {
            margin-left: 0;
            font-size: 0.9rem;
        }
    }
}