.menuContainer {
    background: #1d1d1d;
    color: #fff;
    padding-top: 10px;
    width: 3.5rem;
    transition: width 0.5s;
    overflow: hidden;

    @media (hover :hover) {
        &:hover {
            width: 13rem;
        }
    }

    &__user {
        display: flex;
        align-items: center;

        &_img {
            min-width: 3.5rem;
            display: flex;
            justify-content: center;
        }

        & img {
            border-radius: 50%;
            width: 2.5rem;
        }

        &_username {
            margin-left: 10px;
        }
    }

    &__list {
        margin-top: 15px;
    }
}

@media (max-width: 755px) {
    .menuContainer {
        position: fixed;
        z-index: 2;
        height: 3.5rem;
        min-width: 100%;
        display: flex;
        padding: 2px 0;
        margin: 0;
        justify-content: space-between;

        &__user {
            flex-direction: column;
            align-items: center;

            &_username {
                font-size: 0.8rem;
                margin-left: 0;
            }
        }

        &__list {
            display: flex;
            padding: 0;
            margin: 0;
        }
    }
}