$backgroundColor: #2c2c2c;
$fontColor: #FFF;
$twitchViolet: #9147FF;
$twitchVioletDarkest1: #812dff;
$twitchVioletDarkest2: #7418fd;
$twitchVioletDarkest3: #6705fc;
$twitchVioletLighter1: #a164fd;
$twitchVioletLighter2: #af7bfd;